In [18]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier as rfc
from sklearn.pipeline import Pipeline

In [5]:
data = pd.read_csv(r"/content/drive/MyDrive/DAV Experiments/train.csv")
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
# To detect missing values
missing = data.isnull().sum()
print(f"Missing Values:\n {missing}")

Missing Values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# To check deletions
data_dr = data.dropna()

In [9]:
#Non Time series Imputations
# To fill missing values with mean median or mode
mean_age = data['Age'].mean()
data['Age'].fillna(mean_age,inplace=True)

In [27]:
#forward and backward fill
data_f = data
data_b = data
data_f['Age'] = data['Age'].fillna(method='ffill')
data_b['Age'] = data['Age'].fillna(method='bfill')
print(f"Data After Forward and backward Fill:\n\n {data_f['Age'].head()}\n\n{data_b['Age' ].head()}")

Data After Forward and backward Fill:

 0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [29]:
# Linear Interpolation
data_lin = data
data_lin['Age'] = data_lin['Age'].interpolate(method='linear',limit_direction='forward',axis=0)
print(f"Data after Linear Interpolation:\n\n{data_lin['Age']}")

Data after Linear Interpolation:

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [11]:
# Using Advanced Imputation using sklearn module

# Create an Imputer Object
imputer = SimpleImputer(strategy='median')

In [23]:
#Applying Imputation to age
data[['Age']] = imputer.fit_transform(data[['Age']])
print(data['Age'].head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [15]:
rf = rfc(n_estimators=100,random_state=42)

In [21]:
#Bundle preprocessing and modeling code in a pipeline
clf = Pipeline(steps=[('preprocessor',imputer),('model',rf)])